[package]
name = "ragent"
version = "0.1.0"
authors = ["alex <alex@pdp7.net>"]
description = "A Rust minimal monitoring agent"
license = "Public Domain"
edition = "2018"

[dependencies]
nix = "0.17.0"
serde_json = "1.0.50"
serde = "1.0.105"
serde_derive = "1.0.105"
hyper = "0.13.4"
tokio = { version = "0.2.14", features = ["macros"] }
reqwest = { version = "0.10.3", features = ["blocking", "json"] }

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
check_ragent = { path = "/usr/bin/check_ragent" }
ragent = { path = "/usr/bin/ragent" }

[package.metadata.rpm.files]
"ragent.service" = { path = "/usr/lib/systemd/system/ragent.service" }

[package.metadata.deb]
assets = [
    ["debian-assets/ragent.service", "lib/systemd/system/", "644"],
    ["target/release/check_ragent", "usr/bin/", "755"],
    ["target/release/ragent", "usr/bin/", "755"],
]
maintainer-scripts = "debian-maintainer-scripts"
